<h1>팁 게시판</h1>
<p>팁이 이루어질 게시판입니다.</p>
<%= form_tag(memos_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Posts"%>
    <%= submit_tag "Search"%>
<%end%>
 <a 
  <% if user_signed_in? %>
    href = '/tip/new'
  <% else %>
    href = '/users/sign_in'
  <% end%>
  >글 작성하기</a>

<table>
    <tr>
        <th>#</th>
        <th>제목</th>
        <th>작성자</th>
        <th>작성 시간</th>
    </tr>
    <% @tips.each do |x|%>
        <tr onclick="window.location='/tip/show/<%=x.id%>';">
            <td><%=x.id%></td>
            <td><%=x.title%></td>
            <td><%=x.user_email%></td>
            <td><%=x.created_at.strftime("%Y.%m.%d")%></td>
        </tr>
    <% end %>
    <%= paginate @tips %>
</table>