<h1>글 내용</h1>
<p>글 내용을 보여주는 페이지 입니다.</p>

<%="조회수: #{@tip.view_count}" %> / 작성일자 : <%=@tip.created_at.strftime("%Y.%m.%d %H:%M") %> / 작성자 : <%@tip.user_email%><br><br>

제목: <%= @tip. title %> / <br> 
내용: <%= simple_format(@tip.content)%> <br>

댓글 <br>
  <%@tip.tipcomments.each do |x| %>
    <%= x.user_email %> : <%= x.content%>
      <%if user_signed_in? && x.user_email == current_user.email%>
        <a href="/tip/destroycomment/<%=x.id%>">댓글삭제</a><br>      
      <%else%>
    <%end%>
  <%end%>
  
<%if user_signed_in?%>
댓글 작성하기 
    <form action="/tip/writecomment" method="post">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
          <textarea class="form-control" name="content"></textarea>
          <input type="hidden" name="user_email" value="<%= current_user.email%>">
          <input type="hidden" name="tip_id" value="<%=@tip.id%>">
          <button type="submit" value="작성하기">댓글</button>
    </form>
  <%else%>
<%end%>

<%if user_signed_in? && @tip.user_email == current_user.email%>
<a href = "/tip/edit/<%= @tip.id %>">수정</a>
<a href = "/tip/destroy/<%= @tip.id %>">삭제</a><br>

  <%else%>
<%end%>

<a href = "/tip/index">목록</a>
