<div class="container">

<%= bootstrap_form_for(@lsession) do |f|%>
    <%= f.text_field :title%><br>
    <%= f.text_area :content, :class => "tinymce", :rows => 40, :cols => 120%>
    <%= f.hidden_field :user_email, value: current_user.email%>
    <%= f.hidden_field :user_name, value: current_user.name%>
    <%= f.submit "작성"%>
    
    <%= tinymce %>
<% end %>

</div>
