<div class="container">
    <h1><%= @qna. title %></h1>
    
    <div>
        <div style="text-align:left">
            <%if user_signed_in? && @qna.user_email == current_user.email%>
                <%=link_to '수정', edit_qna_path%>
                <%=link_to '삭제', qna_path, method: :delete%>
            <%else%>
            <%end%>
        </div>
    
        <div style="text-align:right">
            <%="조회수: #{@qna.view_count}" %> / 작성 일자 : <%=@qna.created_at.strftime("%Y.%m.%d %H:%M") %> / 작성자 : <%=@qna.user_name%>(<%=@qna.user_email%>)<br><br>
        </div>
    </div>

    <div class="well">
        <%= simple_format(@qna.content)%> <br>
    </div>
    <a href = '/qnas/<%=@qna.id%>/qnareplies/new'>답글 작성</a>
    <br>
    

    
    
    <% @qna.qnareplies.each do |x|%>
    <div class="well">
      제목: <strong><%= x.title %></strong> / 작성자 : <%=x.user_name%>(<%=x.user_email%>)<br>
      <%= simple_format(x.content) %>
        <%if user_signed_in? && x.user_email == current_user.email%>
          <%=link_to '답글삭제', qna_qnareply_path(:id => "#{x.id}", :qna_id=> "#{@qna.id}"), method: :delete %>
        <%else%>
        <%end%>
      </div>
      <%end%>
      <br>
      <br>
      <br>
      
        <% if @qnacomments.empty? %>
        <% else%>
        <strong>댓글</strong><br><br>
            <table class="table table-fit">
            <% i = 1 %>
                <%@qnacomments.each do |x| %>
                    <tr>
                        <td width = "5%"><%=i%></td>
                        <td width = "70%"><%=x.content %></td> 
                        <td width = "20%"><center> by. <%=x.user_name%>(<%=x.user_email%>)</center></td>
                        <%if user_signed_in? && current_user.email == x.user_email %>
                            <td width = "5%"><%= link_to "삭제", qna_qnacomment_path(@qna, x), method: :delete, remote: true %></td>
                        <%else%>
                            <td width = "5%"></td>
                        <%end%>
                    </tr>
            <% i = i + 1 %>
                <%end%>
            </table>
            <hr>
        <%end%>
        
        <% if user_signed_in? %>
            <%= bootstrap_form_for (@qnacomment), url: qna_qnacomments_path(@qna) do |f| %>
              <%= f.hidden_field :user_email, value: current_user.email%>
              <%= f.hidden_field :user_name, value: current_user.name%>
              <%= f.hidden_field :qna_id, value: @qna.id %>
              <%= f.text_field :content, label: "댓글 작성" %>
              <%= f.submit "작성" %>
          <%end%>
          <%else%>
      <%end%>
</div>
