<h1>수업 자료 게시판</h1>
<p>수업 자료와 답변이 이루어질 게시판입니다.</p>
<%= form_tag(session_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Posts"%>
    <%= submit_tag "Search"%>
<%end%>
  <a 
  <% if user_signed_in? %>
    href = '/session/new'
  <% else %>
    href = '/users/sign_in'
  <% end%>
  >글 작성하기</a>

<table>
    <tr>
        <th>#</th>
        <th>제목</th>
        <th>작성자</th>
        <th>작성 시간</th>
    </tr>
    <% @sessions.each do |x|%>
        <tr onclick="window.location='/session/show/<%=x.id%>';">
            <td><%=x.id%></td>
            <td><%=x.title%></td>
            <td><%=x.user_email%></td>
            <td><%=x.created_at.strftime("%Y.%m.%d")%></td>
            S3 File: <%= image_tag x.s3_file %><br>
        </tr>
    <% end %>
    <%= paginate @sessions %>
</table>