<h1>글 내용</h1>
<p>글 내용을 보여주는 페이지 입니다.</p>

제목: <%= @session. title %> <br>
내용: <%= simple_format(@session.content)%> <br>

댓글 <br>
  <%@session.sessioncomment.each do |x| %>
    <%= x.user_email %> : <%= x.content%>
      <%if user_signed_in? && x.user_email == current_user.email%>
        <a href='/session/destroycomment/<%=x.id%>'>댓글삭제</a><br>
      <%else%>
    <%end%>
   <%end%>

<%if user_signed_in?%>
  댓글 작성하기 
    <form action="/session/writecomment" method="post" data-remote="true">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
          <textarea class="form-control" name="content"></textarea>
          <input type="hidden" name="user_email" value="<%= current_user.email%>">
          <input type="hidden" name="session_id" value="<%=@session.id%>">
          <button type="submit" value="작성하기">댓글</button>
    </form>
  <%else%>
<%end%>

<%if user_signed_in? && @session.user_email == current_user.email%>
    <a href = "/session/edit/<%= @session.id %>">수정</a>
    <a href = "/session/destroy/<%= @session.id %>">삭제</a><br>
  <%else%>
<%end%>

<a href = "/session/index">목록</a>
